crewai==0.30.0
langchain-groq==0.1.0
streamlit==1.32.0
python-dotenv==1.0.0
PyPDF2==3.0.1
googlesearch-python
langchain==0.1.20  
langchain-community==0.0.38  
beautifulsoup4==4.12.3
faiss-cpu==1.8.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
google-api-python-client==2.134.0
requests==2.32.3
streamlit-extras==0.4.0
sentence-transformers
bs4